<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for num in range %}  {# '0123456789'|make_list로 range와 같이 넘버링을 만들 수 있다. / 이때 urls의 context=range는 삭제 #}
    <h1>
        <a href="/book_list/{{ num }}">Book {{ num }}</a>
    </h1>
{#    <p>저자: {{  }}</p>#}
{% endfor %}
</body>
</html>